.App {
  max-height: 100vh;
  overflow: hidden;
}

header {
  background: var(--dark);
  height: 5rem;
  padding: 0 2rem;
}

header h1 {
  margin: 0;
  line-height: 5rem;
}

.container {
  background: var(--dark);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 60vh;
  max-width: 50rem;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.container > div {
  flex-grow: 1;
}

.container > .controls {
  flex-grow: 0;
  align-self: center;
  text-align: center;
  margin: 1rem;
}

.controls > button {
  display: block;
  margin: 2rem auto;
  background: var(--light);
  border: 2px solid transparent;
  border-radius: 0.5rem;  
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.controls > button:hover,
.controls > button:focus {
  outline: none;
  border-color: var(--darkest);
}

@media screen and (max-width: 800px) {

  header h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .container {
    border-radius: 0;
    margin: 0;
    height: calc(100vh - 8rem);
    flex-direction: column;
  }

  .container > div {
    width: 100%;
  }

  .controls > button {
    margin: 1rem auto;
  }

}