:root {
  --darkest: #623d1e;
  --dark: #745337;
  --mid: #9a7759;
  --light: #bc9a7f;
  --lightest: #e6ccb6;
  --nearblack: #281709;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: var(--mid);
  color: var(--nearblack);
}