.number-list {
    height: 100%;
}

.number-list > h2 {
    height: 4rem;
    margin: 0;
    text-transform: capitalize;
}

.number-list > div {
    height: calc(100% - 4rem);
    overflow: auto;
}

.item {
    display: block;
}